.list_social
{
    list-style-type: none;
    padding: 0;
    display: flex;
}

.footer
{
    padding: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.list_social li
{
    padding: 0.2rem 0.6rem;
}